.venue-marker {
    background-color: #bababa;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 2px;

}

.venue-marker::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #bababa;
}

.venue-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 15%;
}
